- render_region :main do |main|
  - main.edit_header do
    - if @text_asset.new_record?
      %h1== New #{proper_model_name}
    - else
      %h1== Edit #{proper_model_name}
  - main.edit_form do
    - form_tag do
      = hidden_field model_name, 'lock_version'
      = render_region :form_top
      .form-area
        - render_region :form do |form|
          - form.edit_title do
            %p.title
              %label{:for=>"#{model_name}_filename"} Filename
              = text_field model_name, "filename", :class => 'textbox', :maxlength => 100
          - form.edit_content do
            %p.content
              %label{:for=>"#{model_name}_content"} Body
              ~ text_area model_name, "content", :class => "textarea", :style => "width: 100%"
            .row
              - render_region :content_bottom do |content_bottom|
                - content_bottom.edit_filter do
                  - unless (proper_model_name + "Filter").constantize.descendants.empty?
                    %p
                      %label{:for=>"#{model_name}_filter"} Filter
                      = select_tag "#{model_name}[filter_id]", options_for_select([['<none>', '']] + (proper_model_name + "Filter").constantize.descendants.map { |f| f.filter_name }.sort, @text_asset.filter_id), :id => "#{model_name}_filter" 
          - form.edit_timestamp do
            = updated_stamp @text_asset
    
      = javascript_tag %{$("#{model_name}_filename").activate()}

      - render_region :form_bottom do |form_bottom|
        - form_bottom.edit_buttons do
          %p.buttons
            = save_model_button(@text_asset)
            = save_model_and_continue_editing_button(@text_asset)
            or
            = link_to 'Cancel', send("#{model_name}_index_url")