<% if model_name == 'stylesheet' -%>
<h1>Stylesheets</h1>
<p>Cascading Stylesheets (CSS files) can be used to alter the look &amp; feel of your pages, layouts, and/or snippets.</p>
<% elsif model_name == 'javascript' -%>
<h1>Javascripts</h1>
<p>Javascripts add dynamic behaviors that can be used within your pages, layouts, and/or snippets.</p>
<% end -%>

<table id="stylesheets" class="index" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th class="<%= model_name %>"><%= proper_model_name %></th>
      <th class="modify">Modify</th>
    </tr>
  </thead>
  <tbody>
<% unless @text_assets.empty? -%>
<% for text_asset in @text_assets -%>
    <tr class="node level-1">
      <td class="snippet">
        <%= image model_name, :class => "icon", :alt => "#{model_name}-icon", :title => text_asset.url %>
        <span><%= link_to text_asset.filename, send("#{model_name}_edit_url", :id => text_asset), :title => text_asset.url %></span>
      </td>
      <td class="remove"><%= link_to image('remove', :alt => "Remove #{proper_model_name}"), send("#{model_name}_remove_url", :id => text_asset) %></td>
    </tr>
<% end -%>
<% else -%>
    <tr>
      <td colspan="2" class="note">No <%= proper_model_name.pluralize %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<script type="text/javascript">
// <![CDATA[
  new RuledTable('<%= model_name %>');
// ]]>
</script>

<p><%= link_to image("new-#{model_name}", :alt => "New #{proper_model_name}"), send("#{model_name}_new_url") %></p>
