<h1>Remove <%= proper_model_name %></h1>
<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following <%= model_name %>?</p>

<table id="<%= model_name %>" class="index" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1" onmouseover="Element.addClassName(this, 'highlight');" onmouseout="Element.removeClassName(this, 'highlight');">
      <td class="<%= model_name %>">
        <%= image(model_name, :class => "icon", :alt => "#{model_name}-icon", :title => '') %>
        <%= @text_asset.filename %>
      </td>
    </tr>
  </tbody>
</table>

<% form_tag do %>
  <p class="buttons"><%= submit_tag("Delete #{proper_model_name}", :class => 'button') %> or <%= link_to('Cancel', send("#{model_name}_index_url") ) %></p>
<% end %>
