%h1== Remove #{proper_model_name}

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  == the following #{model_name}?

%table.index{:id => model_name, :cellpadding => 0, :cellspacing => 0, :border => 0}
  %tbody
    %tr.node.level-1
      -# this next class is dumb but Radiant hard coded for the Snippet class so we'll just piggyback on that...
      %td.snippet
        = image(model_name, :class => "icon", :alt => "#{model_name}-icon", :title => @text_asset.url)
        %span.title= @text_asset.name

- form_tag do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete #{proper_model_name}"}/
    or
    = link_to('Cancel', send("#{model_name}_index_url"))