<% if @css_asset.new_record? -%>
<h1>New Stylesheet</h1>
<% else -%>
<h1>Edit Stylesheet</h1>
<% end -%>

<form method="post" action="">
  <%= hidden_field "css_asset", "lock_version" %>
  <div class="form-area">
    <p class="title">
      <label for="css_asset_filename">Filename</label>
      <%= text_field "css_asset", "filename", :class => 'textbox', :maxlength => 100 %>
    </p>

    <p class="content">
      <label for="css_asset_raw_content">Body</label>
      <%= text_area "css_asset", "raw_content", :class => "textarea", :style => "width: 100%" %>
    </p>

    <div class="row">
      <p>
        <%= check_box("css_asset", "minify") %>
        <label for="css_asset_minify">Minify Output?</label>
      </p>
    </div>

    <span class="clear">&nbsp;</span>

    <%= updated_stamp @css_asset %>
  </div>
  <p class="buttons">
  <%= submit_tag(@css_asset.new_record? ? 'Create Stylesheet' : 'Save Changes', :class => 'button') %> <%= save_model_and_continue_editing_button(@css_asset) %> or <%= link_to "Cancel", css_asset_index_url %>
  </p>
</form>

<%= focus 'css_asset_filename' %>
